body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note{
  background-color:#fef68a ;
  border-radius: 10px  !important;
  padding: 1rem  !important;
  min-height: 250px !important;
  display:flex !important;
  flex-direction:column !important;
  justify-content:space-between !important;
  white-space: pre-wrap !important;
}

.note-footer{
  display: flex !important;
  align-items:center !important;
  justify-content:space-between !important;
}

.notes-list{
  display: grid !important;
  grid-gap:1rem !important;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr)) !important;
}

.container{
  max-width:960px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  min-height: 100vh !important;
}

.note.new{
  background-color:#67d7cc;
}
.note textarea{
  font-size:1rem !important;
  border: none !important;
  resize:none !important;
  background-color:transparent !important;
}

.note textarea:focus{
  outline: none !important;
}

.save{
  background-color:#e1e1e1;
  border:none  !important;
  border-radius: 15px  !important;
  padding:5px 10px 5px 10px  !important;
}

.save:hover{
  background-color:#ededed;
  cursor:pointer  !important;
}
.delete-icons{
  cursor: pointer  !important;
}
.delete-icons:hover{
  transform:scale(1.2)  !important;
  color: #ef0122  !important;
}
.footer-date{
  font-size:0.8rem;
}
.search{
  display:flex  !important;
  align-items:center  !important;
  background-color:rgb(233,233,233)  !important;
  border-radius: 10px  !important;
  padding:5px  !important;
  margin-bottom:1.5em  !important;
}
.search input{
  border:none  !important;
  background-color:transparent  !important;
}
.search input:focus{
  outline:none  !important;
}
.header{
  display:flex  !important;
  align-items:center  !important;
  justify-content:space-between  !important;
}

.dark-mode{
  background-color:#000  !important;
}

.dark-mode h1{
  color: #fff  !important;
}
